/* Koupe
 *
 * STYLUS Document - ~/styles/globals/fonts.styl
 *
 * coded by leny @ krkn
 * started at 05/09/14
 */

font-face( "FiraSans", "./fonts/firasans/firasans", formats: eot woff )
FiraSans = "FiraSans", font-stack( "Helvetica" )
