/* Koupe
 *
 * STYLUS Document - ~/styles/globals/vars.styl
 *
 * coded by leny @ krkn
 * started at 05/09/14
 */

// vars
cKRKN = #163891
cMainText = black
cMainLink = blue
cMainLinkHover = tint( blue, 15% )

// breakpoints
bkHorizontalPhone = media-query( screen, min-width 30rem )
bkVerticalSmallTablet = media-query( screen, min-width 40rem )
bkSmallScreen = media-query( screen, min-width 60rem )
bkMediumScreen = media-query( screen, min-width 80rem )
