doctype html
html( lang="fr_BE" )
    head
        meta( charset="utf-8" )/

        block title
            title Default Title

        meta( name="viewport", content="width=device-width, initial-scale=1.0" )/

        link( rel="author", href="humans.txt" )/

        link( rel="stylesheet", href="styles/styles.min.css" )/

    body
        block content

        include ../partials/scripts.jade
